.main {
  display: flex;
  justify-content: center;
}

header {
  position: fixed;
  height: 60px;
  background-color: #4a5240;
  width: 100%;
  color: white;
}

@import url("https://fonts.cdnfonts.com/css/dm-sans");

* {
  font-family: "DM-sans", sans-serif;
}
